apiVersion: v1
kind: Secret
metadata:
  name: bitheroes-guide-bot-secrets
  labels:
    app: bitheroes-guide-bot
type: Opaque
data:
  # Replace this token with your own. Instructions, run this: `echo Q3JlYXRlIHR...rest of key below... | base64 -d`
  BITHEROES_GUIDE_BOT_AUTH_TOKEN: Q3JlYXRlIHRoZSBzZWNyZXQgYW5kIHBsYWNlIGl0IGhlcmUsIGZvciBleGFtcGxlOiBlY2hvIC1uICJzZWNyZXQtdmFsdWUiIHwgYmFzZTY0