apiVersion: v1
kind: Secret
metadata:
  name: bitheroes-community-bot-secrets
  labels:
    app: bitheroes-community-bot
type: Opaque
data:
  # You can include additional key value pairs as you do with Opaque Secrets
  BITHEROES_COMMUNITY_BOT_AUTH_TOKEN: Q3JlYXRlIHRoZSBzZWNyZXQgYW5kIHBsYWNlIGl0IGhlcmUsIGZvciBleGFtcGxlOiBlY2hvIC1uICJzZWNyZXQtdmFsdWUiIHwgYmFzZTY0