@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    font-size: 62.5%;
    font-family: "Playfair Display", Times, serif;
}

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: white;
}

div, p, li, a {
    font-size: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 800px;
    margin: 1rem auto;
}

header {
    flex-grow: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 1rem;
}

h2 {
    font-size: 2.8rem;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    font-variant: small-caps;
    letter-spacing: 1rem;
    margin-top: 6rem;
    margin-bottom: 0rem;
}

.bubble {
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 2px solid white;
    color: white;
}

.bubble.ext-link-risk {
    border: 2px solid #f5f77c;
    color: #f5f77c;
}

.bubble.search-error {
    border: 2px solid #ff5e7e;
    color: #ff5e7e;
}

.bubble-message {
    flex-grow: 1;
    text-align: center;
    overflow-wrap: anywhere;
}

.bubble i {
    padding: 0 3rem;
    font-size: 1.8rem;
    vertical-align: middle;
    flex-grow: 0;
}

.category-description {
    text-align: center;
    margin-top: 0.5rem; 
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #9ef0ff;
    overflow-wrap: break-word;
}

a:active, a:hover, a:visited {
    text-decoration: underline;
    color: #9ef0ff;
}

.content {
    flex-grow: 1;
}

footer {
    flex-grow: 0;
}

ul, ol, li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.back-home {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.back-home i {
    font-size: 3rem;
    opacity: 0.5;
}

@media (hover: hover) {
    .back-home i:hover {
        opacity: 1;
        transition: opacity .2s ease-in;
        -moz-transition: opacity .2s ease-in;
        -webkit-transition: opacity .2s ease-in;
        -o-transition: opacity .2s ease-in;
    }
}

.table-of-contents {
    text-align: center;
}

.table-of-contents li {
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0;
}

.guide-item {
    padding: 1rem 0;
}

.att-type {
    color: #aaa;
    font-size: 1rem;
}

.attachment-item i {
    margin-right: 0.5rem;
}

.search-wrapper {
    margin: 2rem 0;
}

.search-wrapper input {
    box-sizing: border-box;
    all: unset;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 3px;
    width: calc(100% - 2*1rem);
}

@media (max-width: 1000px) {
    .wrapper {
        width: auto;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    h2, .category-description {
        text-align: center;
    }
}
